.Tab-buttons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.Tab-buttons button {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2% 6%;
  transition: 0.3s;
  font-family: "Caveat Brush", cursive;
  font-size: 28px;
}

.Tab-buttons button:hover {
  background-color: #ccc;
}

.Tab-buttons button.active {
  background-color: white;
}

.Tab-content {
  background-color: white;
  padding: 4%;
  text-align: justify;
  font-family: "Nanum Gothic", sans-serif;
}
