.Tab-buttons {
  overflow: hidden;
  background-color: #f1f1f1;
}

.Tab-buttons button {
  background-color: #ccc;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0% 6%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 5px solid #ccc;
  border-top: 5px solid #ccc;
}

.Tab-buttons button:hover {
  background-color: #bbb;
  border-top: 5px solid #bbb;
  border-bottom: 5px solid #bbb;
}

.Tab-buttons button:active {
  background-color: white;
  border-top: 5px solid rgb(20, 160, 160);
  border-bottom: 5px solid white;
}

.Tab-buttons button:focus {
  background-color: white;
  border-top: 5px solid rgb(20, 160, 160);
  border-bottom: 5px solid white;
}

.Tab-content {
  background-color: white;
  padding: 4%;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
